.app-header {
  min-block-size: calc(40px + (2 * var(--space-2) + 1px));
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding-inline: var(--space-5);
  background-color: var(--color-surface);

  & > * {
    flex-shrink: 0;
  }
  a {
    text-decoration: none;
  }
}

.app-header__title {
  margin-inline-end: var(--space-6);
  color: var(--color-neutral-10);
  font-size: var(--font-size-sm);
}
